<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Override курсы</title>

    <header th:replace="fragments/navbar.html :: header"></header>
</head>
<body>
<div class="table-students" id="table-students">
    <table class="table table-hover" id="requests-table">
        <thead class="table-light">
        <tr role="row">
            <th scope="col"> Id</th>
            <th scope="col"> Имя студента</th>
            <th scope="col"> Этап Курса</th>
            <th scope="col"> Сделать админом</th>
            <th scope="col"> Решения студента</th>
            <th scope="col"> Статус обучениия</th>
        </tr>
        </thead>
        <tbody class="table-light">
        </tbody>
    </table>
    <div class="forms-review" id="forms-review"></div>
</div>

<!-- Вариант 1: Bootstrap в связке с Popper -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/js/utils.js"></script>
<script src="/js/allStudents.js"></script>
</body>
</html>