<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Personal Data</title>

    <header th:replace="fragments/navbar.html :: header"></header>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <br>
            <h5 id="lk">Личный кабинет пользователя : </h5>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab"
                       aria-controls="info" aria-selected="true">Персональные данные</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="documents-tab" data-toggle="tab" href="#documents" role="tab"
                       aria-controls="documents" aria-selected="false">Документы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="notifications-tab" data-toggle="tab" href="#notifications" role="tab"
                       aria-controls="notifications" aria-selected="false">Уведомления</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info-tab">
                    <div class="card card-body" id="cardBody">

                    </div>
                </div>
                <div class="tab-pane fade" id="documents" role="tabpanel" aria-labelledby="documents-tab">
                    <div class="card card-body" id="files">

                        <form id="docForm" action="/document/personalData" method="POST" enctype="multipart/form-data">
                            <table>
                                <tr>
                                <div class="form-row text-center">
                                    <button id = "actBtn" class="btn btn-lg btn-success">Сгенерировать новый акт</button>
                                </div>
                                </tr>
                                <br>
                                <tr>
                                    <h5>Выберите файл для загрузки</h5>
                                    <h7>Размер файла не должен превышать 5 МБ</h7>
                                </tr>
                                <tr>
                                    <td>
                                        <br>
                                        <input type="file" name="file" th:required="required"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <br>
                                        <button class="btn btn-lg btn-primary" type="submit">Upload</button>
                                    </td>
                                </tr>
                            </table>
                        </form>

                        <br>
                        <h5>Ваши файлы:</h5>
                        <table class="table table-hover" id="userDoc">
                            <thead class="table-light">
                            <tr role="row">
                                <th scope="col"> Name</th>
                                <th scope="col"> Type</th>
                                <th scope="col" id="downloadDocBtn"></th>
                            </tr>
                            </thead>
                            <tbody class="table-light">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="notifications" role="tabpanel" aria-labelledby="notifications-tab">
                    <div class="card card-body" id="settingsBox">
                        <h5>Уведомления:</h5>
                        <h7 id="telegram">Telegram:</h7>
                        <input class="form-check-input" id="telegramCheck" type="checkbox">
                        <h7 id="vk">VK:</h7>
                        <input class="form-check-input" id="vkCheck" type="checkbox">
                        <br>
                        <button type="button" class="btn btn-primary" id="editButton">Изменить</button>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form>
    <div id="modalAct" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 id="myModalAct">Сообщение</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <b>Сгенерированный акт необходимо распечатать, заполнить в нём пустые поля, отсканировать и загрузить файл в формате .pdf </b>
                </div>
                <div class="modal-footer">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="/js/utils.js"></script>
<script src="/js/personalData.js"></script>
</body>
</html>