<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Questions</title>

    <header th:replace="fragments/admin-navbar.html :: header"></header>
</head>
<body>
<div class="container-fluid bg-dark">
    <div id="forSingleUser"></div>
    <div class="row">
        <div class="col-2">
            <br>
            <div class="nav flex-column nav-pills bg-dark" id="allUserList" role="tablist" aria-orientation="vertical"
                 style="min-height: max-content; padding-right: 0"></div>
        </div>
        <div class="tab-content col bg-dark"  id="tabContent"></div>
    </div>
</div>


<!-- Вариант 1: Bootstrap в связке с Popper -->
<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="/js/utils.js"></script>
<script src="/js/questionsAdmin.js"></script>
</body>
</html>