<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Override платформа</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css">
</head>
<header th:replace="fragments/navbar.html :: header"></header>
</header>
<body>
<div class="container">

    <textarea class="input start" id="report-text" th:required="required"></textarea>
    <input class="input" type="date" id="datePicker" th:required="required"/>
    <input class="input" type="number" id="report-hours" th:required="required"/>

    <button class="button__request" onclick="sendReport()">Отправить отчет</button>
</div>


</body>
<script src="/js/utils.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/js/report.js"></script>
</html>