<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restore your password</title>
</head>
<body>
<form id="code-form">
    <input type="text" placeholder="Username" id="login-code">
    <input type="submit" value="Get code">
</form>
<form id="change-password">
    <input type="text" placeholder="Username" id="change-0" disabled>
    <input type="text" placeholder="Password" id="change-1">
    <input type="text" placeholder="Repeat password" id="change-2">
    <input type="text" placeholder="Code" id="change-3">
    <input type="submit" value="Restore password">
</form>

<!--<form id="code-bph-form">-->
<!--    <input type="text" placeholder="Phone number" id="phone-code">-->
<!--    <input type="submit" value="Get code">-->
<!--</form>-->
<!--<form id="change-byPhone">-->
<!--    <input type="text" placeholder="Phone number" id="change-bph-0" disabled>-->
<!--    <input type="text" placeholder="Password" id="change-bph-1">-->
<!--    <input type="text" placeholder="Repeat password" id="change-bph-2">-->
<!--    <input type="text" placeholder="Code" id="change-bph-3">-->
<!--    <input type="submit" value="Restore password">-->
<!--</form>-->

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/js/restore.js"></script>
</html>