<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Review</title>

    <header th:replace="fragments/navbar.html :: header"></header>
</head>
<body>
<div class="sidenav">
    <nav class="btn" onclick="newReviewRequests()">Запросы на ревью</nav>
    <nav class="btn" onclick="myReview()">Мои ревью</nav>
    <nav class="btn" onclick="todayReview()">Все ревью на сегодня</nav>
    <nav class="btn" onclick="tomorrowReview()">Все ревью на завтра</nav>
</div>

<div class="main">
    <table class="table table-hover" id="review-table">
        <thead class="table-light">
        <tr role="row">
            <th scope="col"> Id </th>
            <th scope="col"> Topic </th>
            <th scope="col"> Student </th>
            <th scope="col"> Mentor </th>
            <th scope="col"> Date </th>
            <th scope="col"> Time </th>
            <th scope="col"> Time slots </th>
            <th scope="col">  </th>
            <th scope="col">  </th>
        </tr>
        </thead>
        <tbody class="table-light">
        </tbody>
    </table>
</div>

<!-- Вариант 1: Bootstrap в связке с Popper -->
<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="/js/utils.js"></script>
<script src="/js/reviewAdmin.js"></script>
</body>
</html>