server:
  port: 8002
  address: localhost

spring:
  cloud:
    loadbalancer:
      ribbon:
        enable: false
  application:
    name: code-executor
eureka:
  instance:
    hostname: localhost
    leaseRenewalIntervalInSeconds: 15
    leaseExpirationDurationInSeconds: 45
  client:
    enabled: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka


task-test:
  defaultTimeout: 8000