<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Обязательные метатеги -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.12/plyr.css"/>
    <title>Override платформа</title>

    <header th:replace="fragments/navbar.html :: header"></header>
</head>
<body>
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
        <div class="col-1">
            <div th:replace="fragments/lessonSidebar.html"/>
        </div>
        <div class="col-11">
            <br><br>
            <h4>Java pre-project. Задача 2.4.2</h4><br>
            <h5>Практическая задача</h5><br>
            Условие:<br><br>
            Склонируйте заготовку проекта по <a href="https://github.com/jm-program/spring_security">ссылке</a> и
            просмотрите его.<br><br>
            Модуль Spring Security позволяет нам внедрять права доступа, а также контролировать их исполнение без ручных
            проверок.<br><br>
            Spring Security базируется на 2х интерфейсах, которые определяют связь сущностей с секьюрностью: UserDetails
            и GrantedAuthority.<br><br>
            UserDetails - то, что будет интерпретироваться системой как пользователь.<br><br>
            GrantedAuthority - сущность, описывающая права юзера.<br><br>
            Оба эти интерфейса имеют множество реализаций: просмотрите класс SecurityConfig, в методе configure() с
            помощью настроек inMemoryAuthentication() мы собираем единственный на всю программу экземпляр UserDetails с
            именем и паролем админ-админ, а его роль “ADMIN” так же будет преобразована в экземпляр
            GrantedAuthority.<br><br>
            Это простейший способ создания секьюрности. Так же мы можем использовать jdbc-аутентификацию путем написания
            запроса, возвращающего пользователя и роль.<br><br>
            Как вы понимаете, такие способы максимально просты, но лишены достаточной гибкости, потому наиболее часто
            используемый вариант настройки выглядит как имплементация UserDetails и GrantedAuthority в классах-сущностях
            с переопределением существующих методов.<br><br>
            Рассмотрим приложение.<br><br>
            Новые классы:<br><br>
            <mark>- SpringSecurityInitializer</mark>
            - обязателен для не boot-приложения. Кода в нем нет, но требуется для регистрации секьюрити в
            Спринг-контейнере.
            <mark>- SecurityConfig</mark>
            - настройка секьюрности по определенным URL, а также настройка UserDetails и GrantedAuthority.
            <mark>- LoginSuccessHandler</mark>
            - хэндлер, содержащий в себе алгоритм действий при успешной аутентификации. Например, тут мы можем отправить
            пользователя с ролью админа на админку после логина, а с ролью юзер на главную страницу сайта и т.п.

            <h5>Задание:</h5><br>
            1. Перенесите классы и зависимости из примера в свое приложение из предыдущей задачи.<br><br>
            2. Создайте класс Role и свяжите User с ролями так, чтобы юзер мог иметь несколько ролей.<br><br>
            3. Имплементируйте модели Role и User интерфейсами GrantedAuthority и UserDetails соответственно. Измените
            настройку секьюрности с inMemory на userDetailService.<br><br>
            4. Все CRUD-операции и страницы для них должны быть доступны только пользователю с ролью admin по url:
            /admin/**.<br><br>
            5. Пользователь с ролью user должен иметь доступ только к своей домашней странице /user, где выводятся его
            данные. Доступ к этой странице должен быть только у пользователей с ролью user и admin. Не забывайте про
            несколько ролей у пользователя!<br><br>
            6. Настройте logout с любой страницы с использованием возможностей thymeleaf.<br><br>
            7. Настройте LoginSuccessHandler так, чтобы админа после логина направляло на страницу /admin, а юзера на
            его страницу.<br><br>
            8. Предусмотреть во0зможность регистрации новых пользователей. По умолчанию они будут приобретать права
            только user.<br><br>

        </div>
    </div>
    <div th:replace="fragments/PreProjectLink.html :: body">Прикрепите ссылку с решенным заданием</div>
    <div th:replace="fragments/PreProjectStatus.html :: body"></div>
    <br>
    <a href="/lessons/spring/3/1/1" class="btn btn-success btn-lg" role="button" id="nextLesson">Следующий урок</a>
    <div th:replace="fragments/reviewRequestButton.html :: body"></div>
</div>


<!-- Вариант 1: Bootstrap в связке с Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="https://cdn.plyr.io/3.6.12/plyr.js"></script>
<script src="/js/nextLessonButton.js"></script>
<script src="/js/preProjectLink.js"></script>
<script src="/js/reviewRequestForm.js"></script>
</body>
</html>