server:
  port: 8001
  address: localhost

sms:
  url: https://sms.ru
  api:
    id: ${SMS_API_ID}

---
spring:
  profiles:
    default: dev
    active: dev
#    active: prod
---
spring:
  datasource:
    password: postgres
    username: postgres
    url: jdbc:postgresql://localhost:5431/notification-db
    driver-class-name: org.postgresql.Driver
    jpa:
      properties:
        hibernate:
          dialect: org.hibernate.dialect.PostgreSQL81Dialect
          show_sql: false
          format_sql: true
          use_sql_comments: true
      hibernate:
        ddl-auto: create
      generate-ddl: false
  cloud:
    loadbalancer:
      ribbon:
        enable: false
  application:
    name: notification
  mail:
    protocol: smtps
    host: smtp.yandex.ru
    port: 465
    username: ${MAIL_USER_NAME}
    password: ${MAIL_PASSWORD}

eureka:
  instance:
    hostname: localhost
    leaseRenewalIntervalInSeconds: 15
    leaseExpirationDurationInSeconds: 45

  client:
    registerWithEureka: true
    fetch-registry: true
    enabled: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka

management:
  info:
    git:
      enabled: true
      mode: full
    build:
      enabled: true
    java:
      enabled: true
    env:
      enabled: true
  endpoints:
    web:
      exposure:
        include: info,metrics
        exclude: health

info:
  application:
    parent:
      groupId: @pom.parent.groupId@
      artifactId: @pom.parent.artifactId@
      version: 0.0.1
    service:
      artifactId: @pom.artifactId@
      version: @pom.version@
      name: @pom.name@
      description: @pom.description@
  build:
    time: @maven.build.timestamp@
  env:
    java:
      vendor: ${java.specification.vendor}
      vm-name: ${java.vm.name}
      runtime-version: ${java.runtime.version}
  git:
    branch: ${git.branch}
    commit:
      id: ${git.commit.id}
      message: ${git.commit.message.full}
      time: ${git.commit.time}
      user:
        email: ${git.commit.user.email}
        name: ${git.commit.user.name}