<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<header th:fragment="header">
    <nav class="navbar navbar-dark bg-dark">
        <!-- Navbar content -->
        <li class="nav-item">
            <a class="nav-link" href="/courses">Курсы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/report">Написать отчет</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
    </nav>
</header>


</body>
</html>