<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>


<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#questionModal" onclick="initModal()" >Помощь камунити</button>

<div class="modal fade" id="questionModal" tabindex="-1" aria-labelledby="questionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Что-то не получается?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Опиши что именно:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="postHelpMeDTO()">Отправить вопрос</button>
            </div>
        </div>
    </div>
</div>


<script src="/js/code.js"></script>
</body>
</html>