<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyCodeTry</title>
</head>
<body>
<!--<button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#questionModal" onclick="initModal()" >Мои решения</button>-->
<div class="modal fade" id="myCodeTryModal" tabindex="-1" aria-labelledby="myCodeTryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalCodeTryBody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script src="/js/codeTryList.js"></script>
</body>
</html>