#upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: border-box;
    height: 400px;
    outline: 2px dashed #5d5d5d;
    outline-offset: -12px;
    background-color: #e0f2f7;
    font-family: 'Segoe UI', serif;
    color: #1f3c44;
}

#upload-container img {
    width: 40%;
    margin-bottom: 20px;
    user-select: none;
}

#upload-container label {
    font-weight: bold;
}

#upload-container label:hover {
    cursor: pointer;
    text-decoration: underline;
}

#upload-container div {
    position: relative;
    z-index: 10;
}

#upload-container input[type=file] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
}

#upload-container input[type=file]:focus + label {
    outline: -webkit-focus-ring-color auto 5px;
}

#upload-container.dragover {
    background-color: #fafafa;
    outline-offset: -17px;
}