.button__interviewReport {
    background-color: #000cf3;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: block;
    text-transform: uppercase;
    font-size: 13px;

    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 20px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.button__interviewReport:hover {
    background-color: #0470f3;
}

.form-interviewReport {
    display: none;
    position: center;
    bottom: 0;
}

.form-container {
    position: center;
    max-width: 700px;
    margin: auto;
    padding: 10px;
    background-color: white;

}

.form-container input[type=text], .form-container input[type=date],
.form-container select[class=form-select], .form-container input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=date]:focus,
.form-container select[class=form-select]:focus, .form-container input[type=number]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #1976D2;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    font-size: 15px;
    font-weight: bold;
}

.form-container .cancel {
    background-color: #448AFF;
}

.autocomplete-items {
    position: relative;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: auto;
    right: auto;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}