.form-review {
    display: none;
    position: center;
    bottom: 0;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;

}

.form-container input[type=text], .form-container input[type=date],
.form-container input[type=time], .form-container input[type=time],
.form-container input[type=time] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=date]:focus,
.form-container input[type=time]:focus, .form-container input[type=time]:focus,
.form-container input[type=time]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #1976D2;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
    font-size: 15px;
    font-weight: bold;
}

.form-container .cancel {
    background-color: #448AFF;
}

.sidenav {
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav nav {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    text-align: left;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px;
    padding: 0 8px;
    text-align: center;
}
